{% extends "./operate/base.html" %}

{% block content %}
    <script type="text/javascript" src="/static/operate/js/wmadmin.js"></script>
    {#<script src="http://libs.baidu.com/jquery/1.2.3/jquery.min.js"></script>#}
    {#    	<script type="text/javascript" src="/static/operate/js/jquery-latest.js"></script>#}
    <script type="text/javascript" src="/static/operate/js/jquery.tablesorter.js"></script>
    <div class="header">
        <h1 class="page-title">手机机型延迟管理</h1>
        {#  <ul class="breadcrumb">#}
        {#    <li><a href="/">首页</a> </li>#}
        {#    <li class="active">歌曲管理</li>#}
        {#    <input class="layui-btn layui-btn-mini" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">#}
        {#  </ul>#}
    </div>
    <div class="main-content">
        <div class="btn-toolbar list-toolbar">
            <form role="form" method="GET" action="{% url 'search-mobilever-view' %}" style="float: left">
                {% csrf_token %}
                <input placeholder="请输入手机品牌或型号" type="text" class="form-control" id="s" name="S"
                       style="width:200px;float: left;">

                <select name="WS" class="chosen-select" style="width: 160px;height: 34px;overflow: hidden;">
                    <option value="" style="color: red">手机品牌：</option>
                    {% for xh in obj_singer %}
                        <option id="d" value="{{ xh }}">{{ xh }}</option>
                    {% endfor %}

                </select>


                <button class="btn btn-primary">搜 索</button>
                {#      {% if count %}#}
                {#      一共搜索到 <a style="color: red">{{ count }}</a> 条记录 |  {% endif %}共<a style="color: red"> {{ obj_list|length }} </a>条#}
            </form>
            <div style="float: right"><a href="#" class="btn btn-default" onclick="msg()">导入数据</a>
                <input id="openexcelfile" type="file" name="openexcelfile" style="display: none;"/>
                <a href="#" class="btn btn-default" onclick="msg()">导出数据</a>
                <input id="yourinputname" type="file" name="yourinputname" value="上传" style="display: none;"/>
            </div>
            <div class="btn-group"></div>
        </div>
        <table id="mytttt" class="table table-striped table-bordered table-hover tablesorter">
            <thead>
            <tr>
                <th width="15%">手机品牌Manufacturer</th>
                <th width="15%">手机名称name</th>
                <th width="15%">手机型号Model</th>
                <th width="15%">手机固件版本OS</th>
                <th width="15%">硬件名称deviceName</th>
                <th width="15%">类延迟毫秒数型</th>
                <th width="5%">AAC下载</th>
                <th width="5%">伴奏下载</th>
                <th width="5%">操作</th>

            </tr>
            </thead>
            <tbody>

            {% if obj_list %}
                {% for obj in obj_list %}

                    {% include "./operate/include/all_mobileversion.html" %}
                {% endfor %}


            {% endif %}
            </tbody>

        </table>

        {#<script type="text/javascript">#}
        {#$("#myTable").tablesorter();#}
        {#//无id时，可以用 $(".tablesorter").tablesorter();#}
        {#</script>#}
        <script>

            function msg() {
                layer.msg('暂不支持此功能<br>请联系开发！', {
                    time: 5000, //5s后自动关闭
                    btn: ['明白了']
                });
            }
            function submitForm(e) {

                document.getElementById("delmodelform" + e).submit();

            }

            function del_userjs() {
                var getid = document.getElementById("asset").innerHTML;

                layer.confirm('确认删除资产：（' + getid + "）    吗？", {icon: 3, title: '提示:删除后不可恢复！'}, function (index) {
                    //do something
                    $("#del_user").submit();
                    layer.close(index);
                });


            }

        </script>

        <!--分页 -->

        {% if total %}
            <div style="position:absolute;bottom:0px;"> {% include 'operate/include/page_pagination.html' %} </div>
        {% endif %} </div>
{% endblock %}