{% extends "./operate/base.html" %}
{% url 'loaduser-view' as loaduser_url %}

{% block content %}
<script type="text/javascript" src="/static/operate/js/wmadmin.js"></script>
<script type="text/javascript" src="/static/operate/js/jquery.tablesorter.js"></script>
<div class="header">
    <h1 class="page-title">被唱过的歌曲</h1>
</div>
<div class="main-content">
    <div class="btn-toolbar list-toolbar">
        <form role="form" method="GET" action="{% url 'musicoperatesearch-view' %}" style="float: left">
            {% csrf_token %}
            <input placeholder="请输入UID或歌曲名" type="text" class="form-control" id="s" name="S"
                   style="width:200px;float: left;">


            <button class="btn btn-primary">搜 索</button>
        </form>
        <div style="float: right"><a href="#" class="btn btn-default" onclick="msg()">导入数据</a>
            <input id="openexcelfile" type="file" name="openexcelfile" style="display: none;"/>
            <a href="#" class="btn btn-default" onclick="msg()">导出数据</a>
            <input id="yourinputname" type="file" name="yourinputname" value="上传" style="display: none;"/>
        </div>
        <div class="btn-group"></div>
    </div>
    <table id="mytttt" class="table table-striped table-bordered table-hover tablesorter">
        <thead>
        <tr>
            <th width="4%">图片</th>
            <th width="15%">歌曲名</th>
            <th width="10%">歌手名</th>
            <th width="8%">歌曲UID</th>

            <th width="8%">热度</th>
            <th width="8%">PART A</th>
            <th width="8%">PART B</th>
            <th width="8%">手动排序</th>
            <th width="10%">NEW手动排序</th>
            <TH width="6%">歌曲类型</TH>
            <th width="5%">点击次数</th>

            <th width="6%">男女合唱</th>

        </tr>
        </thead>
        <tbody>

        {% if obj_list %}
        {% for obj in obj_list %}

        {% include "./operate/include/all_musicoperate.html" %}
        {% endfor %}


        {% endif %}
        </tbody>

    </table>

    {#
    <script type="text/javascript">#}
    {#$("#myTable").tablesorter();#
    }
    {#//无id时，可以用 $(".tablesorter").tablesorter();#}
        {#</script>
    #}
    <script>

        function msg() {
            layer.msg('暂不支持此功能<br>请联系开发！', {
                time: 5000, //5s后自动关闭
                btn: ['明白了']
            });
        }
        function submitForm(e) {

            document.getElementById("delmodelform" + e).submit();

        }

        function del_userjs() {
            var getid = document.getElementById("asset").innerHTML;

            layer.confirm('确认删除资产：（' + getid + "）    吗？", {icon: 3, title: '提示:删除后不可恢复！'}, function (index) {
                //do something
                $("#del_user").submit();
                layer.close(index);
            });


        }

    </script>

    <!--分页 -->

    {% if total %}
    <div style="position:absolute;bottom:0px;"> {% include 'operate/include/page_pagination.html' %}</div>
    {% endif %}
</div>
{% endblock %}