<tr>
    <td>
        <div><img src="




                {% if obj.photo %}{{ obj.photo }}{% else %}{{ "https://s3-ap-southeast-1.amazonaws.com/duetin-user-tx/default-tx.jpg" }}{% endif %}"
                  width="25" height="25"></div>
    </td>
    <td>{% if obj.music_name %}{{ obj.music_name }}{% else %}{{ "" }}{% endif %}</td>
    <td>{% if obj.singer %}
        {% for name in obj.singer %}
            {{ name.singer_name }}<br>
        {% endfor %}
    {% endif %}</td>
    <td>{% if obj.uid %}{{ obj.uid }}{% else %}{{ "" }}{% endif %}</td>
    <td> {{ obj.rank }}</td>

    <td>
        <div id="labsort{{ obj.id }}">{{ obj.sort }}</div>
    </td>
    <td>
        <div id="labnewsort{{ obj.id }}">{{ obj.new_sort }}</div>
    </td>

    <td>{% if obj.music_style %}
        <div id="labmusicstyle{{ obj.id }}">{{ obj.music_style }}</div>{% else %}
        <div id="labmusicstyle{{ obj.id }}">{{ "" }}</div>{% endif %}</td>
    <td>
        <div id="labview{{ obj.id }}">{{ obj.view_count }}</div>
    </td>
    <td> {% if obj.is_loved %}
        <div id="labisloved{{ obj.id }}" style="color: red">YES</div>{% else %}
        <div id="labisloved{{ obj.id }}"></div>{% endif %}</td>
    <td>{% if obj.is_online %}
        <div id="labisonline{{ obj.id }}">{{ "是" }}</div>{% else %}
        <div id="labisonline{{ obj.id }}">{{ "否" }}</div>{% endif %}</td>
    <td><a title="更改" href="#delModal{{ obj.id }}" role="button" data-toggle="modal"><i class="fa fa-pencil"></i></a>

        <div class="modal small fade" id="delModal{{ obj.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <form id="editmodelform{{ obj.id }}" method="post" action="#">
                {% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <a style="color:red;font-size: x-large">修改歌曲信息</a></div>
                        <div class="modal-body">

                            <p class="error-text"><i class="fa fa-warning modal-icon"></i>您确定要修改歌曲 <a
                                    style="color: red">{{ obj.music_name }}(uid:{{ obj.uid }})</a>信息<br>
                            </p> <br> <br>
                            <div><label style="width: 120px"><a>手动排序:</a></label>
                                <input type="text" name="sort" value="{{ obj.sort }}" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/"></div>
                            <div><label style="width: 120px"><a>NEW页面手动排序:</a></label>
                                <input type="text" name="new_sort" value="{{ obj.new_sort }}" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                            </div>

                        <div><label style="width: 120px"><a>歌曲点击数:</a></label>
                                <input type="text" name="view_count" value="{{ obj.view_count }}" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                            </div>


                            <div><label style="width: 120px"><a>是否男女合唱:</a></label>
                                <select name="is_loved" style="width:150px;height: 24px;overflow: hidden;">

                                    {% if obj.is_loved %}
                                        <option id="d" selected="selected" value=1>是</option>

                                    {% else %}
                                        <option id="d" selected="selected" value=0>否</option>
                                    {% endif %}
                                    <option id="d" value=1>是</option>
                                    <option id="d" value=0>否</option>
                                </select>
                            </div>

                            <div><label style="width: 120px"><a>是否上线:</a></label>
                                <select name="is_online" style="width:150px;height: 24px;overflow: hidden;">

                                    {% if obj.is_online %}
                                        <option id="d" selected="selected" value=1>是</option>

                                    {% else %}
                                        <option id="d" selected="selected" value=0>否</option>
                                    {% endif %}
                                    <option id="d" value=1>是</option>
                                    <option id="d" value=0>否</option>
                                </select>
                            </div>
                            <div><label style="width: 120px"><a>歌曲类型:</a></label>
                                <select name="style" style="width:150px;height: 24px;overflow: hidden;">

                                    <option id="l" selected="selected"
                                            value="">{{ obj.music_style }}</option>

                                    <option id="l" value=0>MELODY</option>
                                    <option id="l" value=1>RAP</option>
                                    <option id="l" value=2>Rap&Melody</option>
                                    <option id="l" value=9>Undefined</option>

                                </select>
                            </div>
                            <input type="hidden" name="__next__" value="{{ page }}">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" onclick="editform('{{ obj.id }}');">
                                edit
                            </button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </td>


</tr>

<script type="text/javascript">
    function editform(data) {

        $.ajax({


            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/operate/editmusic/" + data + "/",
            data: $("#editmodelform" + data + "").serialize(),
            success: function (res_data) {
                $("#labsort" + data + "").text(res_data.result['sort']);
                $("#labnewsort" + data + "").text(res_data.result['newsort']);
                $("#labmusicstyle" + data + "").text(res_data.result['labmusicstyle']);
                $("#labisloved" + data + "").text(res_data.result['labisloved']);
                $("#labisonline" + data + "").text(res_data.result['labisonline']);
                $("#labview" + data + "").text(res_data.result['v_count']);


            },
            error: function () {
                alert("异常！");
            }
        });
    }

</script>