<script type="text/javascript" src="/static/operate/jquery-1.2.6.pack.js"></script>
<script> var jq126 = $.noConflict(true); </script>
<script type="text/javascript" src="/static/operate/jquery.imagePreview.1.0.js"></script>
<script type="text/javascript">

    jq126(function () {

        $("a.preview").preview();
    });

</script>

<tr>
    <td>{{ obj.id }}</td>
    <td>{{ obj.uid }} </td>
    <td>{{ obj.bucket_accompany_key }}</td>
    <td>{{ obj.bucket_lyrics_key }}</td>
    <td>{{ obj.segments_key_name }}</td>



    

</tr>

